# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/my_blog.iml
.idea/workspace.xml
/.idea/vcs.xml
/public/2017
/public/2018
/public/2019
/public/2020
/public/2021
/public/2022
/public/2023
/public/live2d_api
/public/highlight
/public/tags
/public/background
/public/post
/public/categories
/public/css
/public/assets
/public/fancybox
/public/font-awesome
/public/page
/public/js