<footer id="footer">
    <div class="outer">
        {{ if $.Site.Params.visit_counter.on}}
            <div class="footer-right">
                {{ if $.Site.Params.visit_counter.site_visit }}
                    <span id="busuanzi_container_site_pv" style='display: none'>
                        <span id="site-visit" >{{ $.Site.Params.visit_counter.site_visit }}:
                            <span id="busuanzi_value_site_uv"></span>
                        </span>
                    </span>
                {{ end }}
                {{ if and $.Site.Params.visit_counter.site_visit $.Site.Params.visit_counter.page_visit }}
                    <span>, </span>
                {{ end }}
                {{ if $.Site.Params.visit_counter.page_visit }}
                    <span id="busuanzi_container_page_pv" style='display: none'>
                        <span id="page-visit">{{ $.Site.Params.visit_counter.page_visit }}:
                            <span id="busuanzi_value_page_pv"></span>
                        </span>
                    </span>
                {{ end }}
            </div>
        {{ end }}
        <div id="footer-info">
            <div class="footer-left">
                &copy; {{ now.Format "2006" }} {{ $.Site.Params.authorlocation }}
            </div>
            <div class="s-bottom-layer-right" style="font-size: 0.2em" >
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011002014475"
                   target="_blank"><span class="lh s-bottom-recordcode">京公网安备33011002014475号</span></a>
                <span class="lh"> 浙ICP备19049847号</span>
            </div>
        </div>
    </div>
</footer>
